<div class="dialog">
    <div>
        <mat-icon>keyboard_backspace</mat-icon>
    </div>


    <div>
        <p>SUMMARY</p>
        <mat-divider></mat-divider>
        <p class="padding-top" >Total price: {{totalPrice}}</p>
        <mat-divider></mat-divider>
        <p class="padding-top">Deliver to:</p>
        <p *ngFor="let item of itemsOfAddress">{{item}}</p>
        <mat-divider></mat-divider>
        <button class="padding-top" mat-raised-button [mat-dialog-close]="true" (click)="confirm()">CONFIRM</button>
    </div>
</div>